.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.App video, .App span, .App input {
  margin: 10px;
  margin-bottom: 0;
}

input[type=button] {
  padding: 4px 10px;
}